/* Frame 3 */

position: absolute;
width: 334px;
height: 100px;
left: 680px;
top: 13px;



/* dela_equal */

box-sizing: border-box;

position: absolute;
width: 334px;
height: 100px;
left: 0px;
top: 0px;

background: #312F2F;
border: 2px solid #F1F910;
border-radius: 10px;


/* Rectangle 6 */

position: absolute;
visibility: hidden;
width: 42px;
height: 96px;
left: 123px;
top: 3px;

background: #03A208;


/* Line 4 */

position: absolute;
width: 34px;
height: 0px;
left: calc(50% - 34px/2 + 17px);
top: 66px;

border: 2px solid #F1F910;
transform: rotate(-90deg);


/* Line 5 */

position: absolute;
width: 28px;
height: 0px;
left: 167px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 6 */

position: absolute;
width: 28px;
height: 0px;
left: 182px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 7 */

position: absolute;
width: 28px;
height: 0px;
left: 197px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 8 */

position: absolute;
width: 28px;
height: 0px;
left: 212px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 9 */

position: absolute;
width: 28px;
height: 0px;
left: 227px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 10 */

position: absolute;
width: 28px;
height: 0px;
left: 242px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 11 */

position: absolute;
width: 28px;
height: 0px;
left: 257px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 12 */

position: absolute;
width: 28px;
height: 0px;
left: 272px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 13 */

position: absolute;
width: 28px;
height: 0px;
left: 287px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 14 */

position: absolute;
width: 28px;
height: 0px;
left: 302px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 15 */

position: absolute;
width: 28px;
height: 0px;
left: 317px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 16 */

position: absolute;
width: 26px;
height: 0px;
left: 328px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 17 */

position: absolute;
width: 28px;
height: 0px;
left: 7px;
top: 71px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 18 */

position: absolute;
width: 28px;
height: 0px;
left: 21px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 19 */

position: absolute;
width: 28px;
height: 0px;
left: 36px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 20 */

position: absolute;
width: 28px;
height: 0px;
left: 51px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 21 */

position: absolute;
width: 28px;
height: 0px;
left: 65px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 22 */

position: absolute;
width: 28px;
height: 0px;
left: 80px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 23 */

position: absolute;
width: 28px;
height: 0px;
left: 94px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 24 */

position: absolute;
width: 28px;
height: 0px;
left: 109px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 25 */

position: absolute;
width: 28px;
height: 0px;
left: 123px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 26 */

position: absolute;
width: 28px;
height: 0px;
left: 138px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 27 */

position: absolute;
width: 28px;
height: 0px;
left: 153px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* Line 28 */

position: absolute;
width: 28px;
height: 0px;
left: 167px;
top: 72px;

border: 1px solid #F1F910;
transform: rotate(-90deg);


/* 0 */

position: absolute;
width: 40px;
height: 77px;
left: calc(50% - 40px/2);
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #F1F910;